@page
@using MyDailyTasks.Utility;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    Layout = "/Views/Shared/_EmptyLayout.cshtml";
}
<div class="container ">
    <div class="card shadow-lg o-hidden border-0 my-5 bg-black">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image" style="background-image: url(/images/Dark.jpg);"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center mb-4">
                            <h4 class="text-light text-uppercase">My Daily Tasks</h4>
                            <small>
                                Create an Account!
                           </small>

                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <form class="user" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input placeholder="First name" type="text" asp-for="Input.FirstName" class="form-control form-control-user" aria-required="true" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input placeholder="Last name" asp-for="Input.LastName" class="form-control form-control-user" aria-required="true" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0">                                    
                                    <input placeholder="Phone number" asp-for="Input.PhoneNumber" class="form-control form-control-user" aria-required="true" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input placeholder="Email" asp-for="Input.Email" class="form-control form-control-user" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input placeholder="Password" type="password" asp-for="Input.Password" class="form-control form-control-user" aria-required="true" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input placeholder="Confirm password" type="password" asp-for="Input.ConfirmPassword" class="form-control form-control-user" aria-required="true" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                @if (User.IsInRole(SD.Role_Admin))
                                {
                                    <div class="col-12 mb-sm-0">
                                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                            <option disabled selected>=Select a role=</option>
                                        </select>
                                    </div>
                                }
                            </div>
                            <button id="registerSubmit" type="submit" class="btn btn-primary d-block btn-user w-100 mb-2">Register</button>
                        </form>

                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal user">
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    @if (provider.Name.ToLower().Contains("google"))
                                    {
                                        <button id="GoogleBtn" type="submit" class="btn btn-primary d-block btn-google btn-user w-100 mb-2" name="provider"
                                        value="@provider.Name"
                                        title="Login using your @provider.DisplayName account">
                                            <i class="bi bi-google"></i> Register using @provider.DisplayName
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                }
                            </p>
                        </form>                            <hr>
                        <div class="text-center">
                            <a class="small" id="forgot-password" asp-page="./ForgotPassword" style="text-decoration:none">Forgot your password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" style="text-decoration:none">Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
